:root {
  --primary-color: #ebe7e7;
  --link-size-font: 0.9rem;
  --secondary-color: #1089ff;
  --bg-build-app: linear-gradient(
    80deg,
    rgba(194, 85, 245, 0.75),
    rgba(170, 38, 218, 0.8)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* UTILITY CLASSES */
.container {
  max-width: 960px;
  margin: auto;
  padding: 2rem 0;
  overflow: hidden;
}
.l-heading {
  font-size: 3rem;
}
.m-heading {
  font-size: 2rem;
  color: #414040d8;
}
.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.btn-primary {
  border: 0.5px solid #fff;
  border-radius: 2px;
  font-size: var(--primary-color);
  padding: 0.2rem 0.7rem;
  transition: background 0.2s;
}

.btn-primary:hover {
  background: #5068cc;
}
.btn-secondary {
  padding: 0.5rem 2rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  box-shadow: inset 0 -2px 5px #a0a0a0;
  transition: all 0.2s;
  margin: 2rem 0;
}
.btn-lg {
  width: 85%;
  padding: 0.9rem 0;
  margin: 3rem 0;
  border-radius: 5px;
  font-size: 1.5rem;
  word-spacing: 3px;
  font-weight: 600;
  transition: background 1s;
  box-shadow: 2px 5px 5px rgba(190, 200, 204, 0.815);
}
.btn-lg:hover {
  background: var(--secondary-color);
}
.btn-secondary:hover {
  opacity: 0.85;
}
.bg-light {
  color: var(--secondary-color);
  background: #fff;
}
.bg-gray {
  background: #f6f9fa;
}
.bg-info {
  color: #fff;
  background: #077ef5be;
}
.bg-purple {
  background: var(--bg-build-app);
}
.text-dark {
  color: #000;
}
.text-secondary {
  color: var(--secondary-color);
}
.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 1.5rem;
}
.p-3 {
  padding: 1.5rem;
}
.my-1 {
  margin: 3rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 1rem 0;
}

/* UTILITY CLASSED  ENDS*/

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 200;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0 2rem;
  overflow: none;
}

p {
  margin: 1rem 0;
}

.header {
  background: linear-gradient(
    180deg,
    rgba(17, 94, 236, 0.7),
    rgba(41, 54, 238, 0.829)
  );
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.nav .logo-box img {
  width: 15rem;
  height: auto;
  padding-left: 4rem;
}
.nav .navbar-box {
  display: flex;
  margin-right: 4rem;
}
.nav .navbar-links {
  display: flex;
  list-style: none;
  margin-right: 1.5rem;
}

.nav .navbar-links .nav-link {
  padding: 0 1.5rem;
}
.nav .navbar-links .nav-link a {
  font-size: var(--link-size-font);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s;
}
.nav .navbar-links .nav-link a:hover,
.nav .navbar-links .nav-link .current {
  color: #fff;
  text-decoration: line-through;
}

.btn-primary i {
  margin-right: 0.4rem;
}

.navbar-box .btn-box {
  display: flex;
  flex-direction: column;
}
.navbar-box .btn-box .secondary-link {
  color: var(--primary-color);
  align-self: center;
  font-size: 0.7rem;
  word-spacing: 0.1rem;
  transition: all 0.3s;
}
.navbar-box .btn-box .secondary-link:hover {
  text-decoration: underline;
  color: #fff;
}

/* showcase contents */

.header .showcase-content {
  text-align: center;
}

.header .showcase-content .dev-icons img {
  width: 8%;
  margin: 2.5rem 0.6rem 1.5rem;
  transition: all 0.3s;
  padding: 0.5rem;
}
.header .showcase-content .lead-text {
  font-size: 1.5rem;
  animation: animateDown 1s forwards alternate ease;
}
.header .showcase-content .dev-icons img:hover {
  background: rgba(239, 240, 240, 0.945);
  opacity: 0.6;
  padding: 0.5rem;
  /* border-radius: 50%; */
}

.showcase-content .btn-secondary i {
  margin-right: 0.5rem;
}

.showcase-content .secondary-link {
  font-size: 1rem;
  display: block;
  color: var(--primary-color);
  transition: all 0.5s;
  margin: 0.9rem 0;
}

.showcase-content .animate-icon {
  font-weight: bold;
  display: block;
  padding: 0.7rem 0;
  animation: animateIcon 1s alternate ease-out infinite;
}

/* SECTION HOW-TO */
.how-to {
  --text-how-to: #838383;
  color: var(--text-how-to);
}
.how-to .container {
  padding: 6rem 0;
}
.how-to .flex-row {
  display: flex;
  justify-content: center;
}
.how-to .secondary-heading {
  font-weight: 200;
}
.how-to .secondary-heading .primary-l-heading {
  font-weight: 700;
  color: #000;
}
.how-to .flex-row .img-box {
  width: 20rem;
  height: 9rem;
  border-bottom: 1px solid var(--text-how-to);
}
.how-to .flex-row .fa-random {
  align-self: center;
  font-size: 1.5rem;
  margin: 0 1rem;
}
.flex-row .img-box img {
  width: 90%;
  display: block;
  margin: 2rem auto;
}

/* SECTION COURSES */
.course {
  padding: 2.5rem 7rem;
}
.course h2 {
  font-weight: 200;
}
.course h2 span {
  font-weight: 600;
  color: #000;
}
.course .course-cards {
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem; */
}
.course-cards .card {
  flex: 1 0 250px;
  background: #fff;
  padding: 1.5rem;
  margin: 2rem;
  line-height: 1.6;
  text-align: center;
  transition: all 0.3s;
}
.course-cards .card .card-img img {
  display: block;
  width: 30%;
  margin: 1rem auto;
}
.course-cards .card h3 {
  color: #000;
  font-weight: 400;
}
.course-cards .card p {
  color: #969696;
  font-size: 1.2rem;
}

.course-cards .card:hover {
  background: var(--secondary-color);
  transform: scale(1.1);
  box-shadow: 3px 3px 10px #838383;
}
.course-cards .card:hover h3 {
  color: #fff;
}
.course-cards .card:hover p {
  color: #dfdfdfee;
}
.course-cards .card:hover i {
  /* visibility: visible; */
  color: #fff;
  animation: iconright 0.2s ease alternate-reverse;
  transform-origin: right;
}
.course-cards .card:hover .card-img img {
  transform: scale(1.2);
}

/* MORE COURSE */
#courses #lead-text {
  color: #333;
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: -5.5rem;
}
/* SECTION COURSES */
.course {
  padding: 2.5rem 7rem;
}
.course h2 {
  font-weight: 200;
}
.course h2 span {
  font-weight: 600;
  color: #000;
}
.course .course-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem; */
}
.course-cards .card {
  flex: 1 0 250px;
  background: #fff;
  padding: 1.5rem;
  margin: 2rem;
  line-height: 1.6;
  text-align: center;
  transition: all 0.5s ease;
}
.course-cards .card .card-img img {
  display: block;
  width: 30%;
  margin: 1rem auto;
}
.course-cards .card h2 {
  color: #000;
  font-weight: 400;
}
.course-cards .card p {
  color: #969696;
  font-size: 1.2rem;
}

.course-cards .card:hover {
  background: var(--secondary-color);
  transform: scale(1.1);
  box-shadow: 3px 3px 10px #838383;
}
.course-cards .card:hover h2 {
  color: #fff;
}
.course-cards .card:hover p {
  color: #dfdfdfee;
}
.course-cards .card:hover i {
  /* visibility: visible; */
  color: #fff;
  animation: iconright 0.2s alternate-reverse ease-out;
}
.course-cards .card:hover .card-img img {
  transform: scale(1.1);
}
/* SECTION ENDS */

/* SECTION BUILD APP */
/* #build-app .app-row {
  display: flex;
  flex-direction: column;
} */
#build-app {
  box-shadow: inset 2px 2px 10px rgba(137, 58, 161, 0.637),
    inset -2px -2px 10px rgba(132, 58, 155, 0.637);
}
#build-app .app-row > h2 {
  font-size: 2.5rem;
}
#build-app .app-row > h2 span {
  display: block;
  text-align: center;
}
#build-app .app-row .build-row {
  display: flex;
  flex-direction: row;
}
#build-app .app-row .build-row .img-build {
  margin-right: 3rem;
}
#build-app .app-row .build-row .app-text > p {
  line-height: 1.6;
  font-size: 1.5rem;
  padding-bottom: 0.7rem;
  font-weight: 300;
}
#build-app .app-row .build-row .app-text .btn-app {
  width: 100%;
  background: rgba(123, 72, 138, 0.637);
  padding: 0.6rem 0;
  text-align: center;
  border-radius: 3px;
  font-size: 1.3rem;
  font-weight: 500;
  box-shadow: 2px 2px 10px rgba(123, 72, 138, 0.637);
  margin-right: 0.2rem;
}
/* SECTION ENDS HERE */

/* section skills */
#skills {
  color: #363535a1;
  font-weight: 300;
  background: #fff;
}
#skills h3 {
  font-weight: 200;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
#skills h3 > span {
  color: #000;
  font-weight: 400;
}
#skills .skill {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  justify-content: space-around;
}
#skills .skill .skill-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 1.5rem;
}

.skill .skill-row:first-child i {
  color: #e5d429;
}
.skill .skill-row:nth-child(2) i {
  color: var(--secondary-color);
}
.skill .skill-row:last-child i {
  color: #1f8ccc;
}
#skills .skill .skill-row .skill-content {
  flex: 2;
  text-align: center;
}
#skills .skill .skill-row .skill-content h2 {
  font-size: 2rem;
  color: #000;
}
#skills .skill .skill-row .icon-div {
  flex: 1;
  padding: 0.5rem;
  align-self: center;
}
/* section go-pro */
#go-pro p {
  font-size: 2rem;
  width: 60%;
  margin: 3.5rem auto;
}
#go-pro small {
  font-size: 1.2rem;
}
/* footer */
#footer {
  position: relative;
}
#footer .footer-box {
  max-width: 560px;
  margin: 0.5rem auto;
  padding: 1rem 2rem;
  color: #a3a1a1;
}
#footer .footer-nav-links {
  list-style: none;
  display: flex;
}
#footer .footer-nav-links li {
  padding: 0 0.6rem;
}
#footer .footer-nav-links li a {
  color: #a3a1a1;
}
#footer .footer-nav-links li a:hover {
  color: #616060;
}

/* BUTTON TOP */
.top {
  margin: 3rem;
  width: 50px;
  height: auto;
  padding: 0.3rem;
  background: #333;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Keyframe animation */
@keyframes animateDown {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes iconright {
  from {
    opacity: 0;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(-20px);
  }
}
@keyframes animateIcon {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
